h1 a {
    display: block;
    font-size: 60px;
    text-decoration: none;
    color: rgb(66, 14, 14);
    text-align: center;
    border: 3px solid green;
    margin: 0;
    padding: 20px;
}
h2 {
    text-align: center;
    color: rgb(66, 14, 14);
    font-size: 40px;
}
#menu {
    font-size: 25px;
    list-style-type: none;
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0;
    padding: 20px;
}
#menu img {
    width: 100%;
}
#menu li {
    text-align: center;
    margin: 0;
    padding: 20px;
}
#menu a {
    color: rgb(66, 14, 14);
    text-decoration: none;
}
#댕카일지 {
    border: 2px solid gray;
    margin: 0;
    padding: 20px;
}